<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
{{ article.title }}
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 文章详情 -->
<div class="container">
    <div class="row">
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <div class="col-12 alert alert-success"><i class="fas fa-clock"></i>创建时间：{{ article.createTime }}<br><i class="fa fa-edit"></i>最后更新时间：{{ article.updateTime }}</div>
        <div class="col-12 border">
            <p class="articleContent">{{ article.content }}</p>
        </div>
    </div>
</div>

{% endblock content %}