p{word-break:break-all;}
html,body{height: 100%;}

#push{
    height:70px
}
#footer{
    height:60px
}

#content{
  min-height: 100%;
  margin-bottom: -60px
}

#pin{
    top: -2px;
    right: 10px;
    color:red;
    z-index: 100;/* put the icon up */
    transform:rotate(45deg);
    position:absolute;
}